.button {
  font-family: inherit;
  font-weight: 700;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  background-color: var(--bg);
  color: var(--clr);
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: var(--size, 1.11rem);
  font-weight: 400;
  user-select: none;

  &:hover,
  &:focus {
    background-color: var(--bg-hover);
    color: var(--clr-hover);
  }

  .btnContent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .iconSpin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    & > * {
      animation: spin 1s linear infinite;
      margin: 0;
      padding: 0;
      transform-origin: 50% 50.5%;
      height: 1em;
      width: 1em;
    }
  }

  &.primary {
    --clr: hsl(0, 0%, 100%);
    --clr-hover: hsl(0, 0%, 100%);
    --bg: var(--clr-primary-500);
    --bg-hover: var(--clr-primary-400);
  }

  &.accent {
    --clr: var(--clr-primary-500);
    --clr-hover: var(--clr);
    --bg: hsl(47, 100%, 50%);
    --bg-hover: hsl(47, 100%, 65%);
  }

  &.danger {
    --clr: hsl(0, 0%, 100%);
    --bg: var(--clr-fire-600);
    --clr-hover: hsl(0, 0%, 100%);
    --bg-hover: var(--clr-fire-500);
  }

  &.dangerInverse {
    --clr: var(--clr-fire-500);
    --bg: transparent;
    --clr-hover: hsl(0, 0%, 100%);
    --bg-hover: var(--clr-fire-500);
  }

  &.xsmall {
    --size: 0.89rem;
  }

  &.small {
    --size: 1rem;
  }

  &.medium {
    --size: 1.11rem;
  }

  &.large {
    --size: 1.22rem;
  }

  &.xlarge {
    --size: 1.46rem;
  }

  &:disabled,
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;

    --bg-hover: var(--bg);
    --clr-hover: var(--clr);
  }
}
